BR2_mipsel=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(TOPDIR)/toolchain_mipsel"
BR2_TOOLCHAIN_EXTERNAL_LARGEFILE=y
BR2_TOOLCHAIN_EXTERNAL_WCHAR=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
# BR2_USE_MMU is not set
BR2_ROOTFS_DEVICE_TABLE="target/generic/device_table_mp.txt"
BR2_ROOTFS_STATIC_DEVICE_TABLE="target/generic/device_table_dev_mp.txt"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="fs/cb3pp"
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_NZBGET=y
BR2_PACKAGE_UNRAR=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_PHP=y
BR2_PACKAGE_PHP_EXT_PCRE=y
BR2_PACKAGE_PHPFM=y
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_SLANG=y
BR2_PACKAGE_BTPD=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_TRANSMISSION=y
BR2_PACKAGE_TRANSMISSION_DAEMON=y
BR2_PACKAGE_TRANSMISSION_DAEMON_OPENRTD_STARTUP_SCRIPT=y
BR2_PACKAGE_IPKG=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_DTACH=y
BR2_PACKAGE_MC=y
BR2_TARGET_ROOTFS_RTDIMG=y
BR2_TARGET_ROOTFS_RTDIMG_PLAYER_CUSTOM_FW_PATH="/udir/cbadescu/mediaplayer/buildroot/firmware/hd500/install.img"
BR2_TARGET_ROOTFS_RTDIMG_PLAYER_CUSTOM_OVERWRITE_RSSMENU=y
BR2_TARGET_ROOTFS_RTDIMG_PLAYER_CUSTOM_MOVE_RSS_MENU=y
BR2_TARGET_ROOTFS_RTDIMG_PLAYER_CUSTOM_PATCH_WEATHER=y
