BR2_mipsel=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(TOPDIR)/toolchain_mipsel"
BR2_TOOLCHAIN_EXTERNAL_LARGEFILE=y
BR2_TOOLCHAIN_EXTERNAL_WCHAR=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
# BR2_USE_MMU is not set
BR2_ROOTFS_DEVICE_TABLE="target/generic/device_table_mp.txt"
BR2_ROOTFS_STATIC_DEVICE_TABLE="target/generic/device_table_dev_mp.txt"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="fs/cb3pp"
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_CUSTOMIZE=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_GAWK=y
BR2_PACKAGE_PHP=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBEVENT=y
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_SLANG=y
BR2_PACKAGE_BTPD=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_IPKG=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_DTACH=y
BR2_PACKAGE_MC=y
BR2_TARGET_ROOTFS_RTDIMG=y
BR2_TARGET_ROOTFS_RTDIMG_PLAYER_CUSTOM=y
BR2_TARGET_ROOTFS_RTDIMG_PLAYER_CUSTOM_FW_PATH="/udir/cbadescu/mediaplayer/buildroot/firmware/hd500/install.img"
BR2_TARGET_ROOTFS_RTDIMG_PLAYER_CUSTOM_BASE_VERSION_500=y
BR2_TARGET_ROOTFS_RTDIMG_PLAYER_CUSTOM_INSTALL_TARGET_PACKAGES=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="file://kernel/OPlayAir_V1_28_GPL/linux-2.6.12.314723.tgz"
BR2_LINUX_KERNEL_PATCH="kernel/OPlayAir_V1_28_GPL/patches"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="kernel/OPlayAir_V1_28_GPL/config.develop.avhdd.mars.old"
